<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test Lengow Fullstack{% endblock %}</title>
         <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.23/css/uikit.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.23/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.23/js/uikit-icons.min.js"></script>
    </head>
    <body>

     <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <a href="{{ path('lengow_home') }}"><img src="{{ asset('/images/logo.svg') }}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{path('lengow_orders_last') }}"> RESULTAT Q1</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('lengow_orders_last_optimized') }}"> RESULTAT Q2</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('lengow_orders_new') }}"> RESULTAT Q3</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('lengow_orders_new_service') }}"> RESULTAT Q4</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('lengow_orders_jquery') }}"> RESULTAT Q5</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('lengow_orders_vanilla_js') }}"> RESULTAT Q6</a></li>
            </ul>
        </div>
    </nav>
        <div class="uk-container">
           

           
            
            <section class="main">
                {% block body %}{% endblock %}
            </section>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
